/* common css start*/
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 0.8;
}

img {
  vertical-align: middle;
}

::selection {
  background: #000;
  color: #fff;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.space {
  justify-content: space-between;
}

.valign {
  align-items: center;
}

:root {
  --primary_color: #222222;
  --secondery_color: #ff5733;
  --para_color: #888888;
  --sub_header: #555555;
  --date_add: #777777;
  --hover_color: #fce2dc;
  --header_font: "Noticia Text", serif;
  --regular: 400;
  --bold: 700;
  --common_font_size: 16px;
}

p {
  font-size: var(--common_font_size);
  line-height: 26px;
  font-weight: var(--regular);
  color: var(--para_color);
}

h2 {
  font-size: 48px;
  line-height: 63px;
  font-family: var(--header_font);
  font-weight: var(--bold);
  color: var(--primary_color);
  text-transform: capitalize;
}

h3 {
  font-size: 36px;
  font-family: var(--header_font);
  font-weight: var(--bold);
  color: var(--primary_color);
}

h4 {
  font-size: 24px;
  line-height: 24px;
  font-family: var(--header_font);
  font-weight: var(--bold);
  color: var(--primary_color);
}

.section_header {
  text-align: center;
  position: relative;
}

.section_header_bar {
  position: absolute;
  right: 32%;
  bottom: -30px;
}
/* common css end */

/* Navbar area css start */
#main_menu {
  border-bottom: 1px solid #f1f1f1;
  padding: 35px 0 30px 0;
}

.menu ul {
  display: flex;
}

.menu ul li {
  padding: 0 29px;
}

.menu ul li:last-child {
  padding-right: 0;
}

.menu ul li a {
  color: var(--primary_color);
  font-size: 14px;
  font-weight: var(--regular);
  text-transform: capitalize;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

.menu ul li:hover a {
  color: var(--secondery_color);
}
/* Navbar area css end */

/* Banner area css start */
#banner {
  padding: 80px 0 100px 0;
  position: relative;
}

.shape_one {
  width: 377px;
  height: 377px;
  border: 1px solid var(--secondery_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 389px;
  left: -190px;
  opacity: 0.5;
}

.shape_tow {
  width: 279px;
  height: 279px;
  border: 1px solid var(--secondery_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: -140px;
  top: 31px;
  opacity: 0.5;
}

.inside_shape {
  position: relative;
}

.inside_shape .shape_three {
  width: 75px;
  height: 75px;
  border: 1px solid var(--secondery_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  opacity: 0.5;
}

.inside_shape .shape_four {
  width: 38px;
  height: 38px;
  border: 1px solid var(--secondery_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 100px;
  top: 507px;
  opacity: 0.5;
}

.inside_shape .shape_five {
  width: 30px;
  height: 30px;
  border: 1px solid var(--secondery_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: 184px;
  top: 167px;
  opacity: 0.5;
}

.inside_shape .shape_six {
  width: 135px;
  height: 135px;
  border: 1px solid var(--secondery_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 430px;
  opacity: 0.5;
}

.banner_content {
  text-align: center;
  width: 666px;
  margin: 0 auto;
}
.banner_img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border: 10px solid #fce2dc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

.banner_img img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* .banner_img {
  position: relative;
}

.banner_img img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #fce2dc;
} */

.banner_img::after,
.banner_img::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border: 18px solid var(--secondery_color);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.banner_img::after {
  left: -40px;
}

.banner_img::before {
  right: -40px;
}

.banner_img_shape {
  position: relative;
}

.banner_img_shape::after,
.banner_img_shape::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background-color: #ff5733;
  opacity: 0.3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 45px;
}

.banner_img_shape::after {
  left: 225px;
}

.banner_img_shape::before {
  right: 225px;
}

.banner_text h4 {
  color: var(--secondery_color);
  line-height: 24px;
  padding: 30px 0 20px 0;
}

.banner_text h1 {
  color: var(--primary_color);
  line-height: 74px;
  font-size: 64px;
  font-weight: var(--bold);
  font-family: var(--header_font);
  text-transform: capitalize;
}

.banner_text p {
  line-height: 30px;
  font-size: 18px;
  padding: 30px 80px 57px 80px;
}

.banner_btn a {
  font-size: var(--common_font_size);
  font-weight: var(--bold);
  color: #ffffff;
  padding: 19px 40px;
  background-color: var(--secondery_color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.banner_btn a:hover {
  color: var(--primary_color);
  background-color: var(--hover_color);
  border: 1px solid var(--secondery_color);
}
/* Banner area css end */

/* Brand area css start */
#brand {
  padding-bottom: 120px;
}

.brand_items img {
  padding: 10px 20px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.brand_items:hover img {
  background-color: var(--hover_color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* Brand area css end */

/* Network area css start */
#network {
  position: relative;
  padding: 92px 0;
}
.network_shape {
  position: absolute;
  width: 790px;
  height: 365px;
  background-color: #f9f9f9;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: -1;
}

.network_header {
  width: 50%;
}

.network_text {
  width: 50%;
  padding-left: 50px;
}

.network_text p {
  font-size: 18px;
  line-height: 30px;
}
/* Network area css end */

/* Services area css start */
#services {
  padding: 140px 0;
  position: relative;
}

.services_main {
  margin-top: 80px;
}

#services .services_bg {
  position: absolute;
  width: 1370px;
  height: 265px;
  background: #f9f9f9;
  bottom: 82px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  z-index: -1;
}

.service_items.first {
  padding: 53px 23px 55px 23px;
}

.service_items {
  padding: 48px 23px 49px 23px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  text-align: center;
  width: 370px;
  background: #ffffff;
  box-shadow: 0 15px 55px rgba(0, 0, 0, 0.06);
}

.icon_one {
  margin-bottom: 50px;
}

.icon_tow {
  margin-bottom: 12px;
}

.icon_three {
  margin-bottom: 30px;
}

.service_text h4 {
  padding-bottom: 20px;
}

.service_text a {
  justify-content: center;
  padding-top: 25px;
  font-size: var(--common_font_size);
  color: var(--secondery_color);
  font-weight: var(--bold);
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
}

.service_text a i {
  padding-left: 5px;
}

.service_text a:hover {
  margin-left: 15px;
}
/* Services area css end */

/* Brunch area css start */
#brunch {
  padding: 90px 0 115px 0;
}

.brunch_left {
  width: 495px;
}

.brunch_left .section_header {
  text-align: start;
}

.brunch_left .section_header_bar {
  right: 23%;
}

.brunch_left .brunch_left_txt p {
  padding: 60px 55px 30px 0;
  border-bottom: 1px solid #e2e2e2;
}

.brunch_right {
  width: 540px;
}

.counter {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.counter_items {
  padding: 25px 30px;
  background-color: #f9f9f9;
  margin-top: 30px;
}

.counter_items h2 {
  color: var(--secondery_color);
  padding-bottom: 10px;
}

.brunch_right_items {
  margin-bottom: 45px;
}

.brunch_border {
  border-bottom: 1px solid #e2e2e2;
}

.brunch_right_items h4 {
  font-weight: var(--regular);
  color: var(--sub_header);
}

.brunch_right_items h3 {
  padding: 15px 0 25px 0;
}

.brunch_right_items .brunch_date p {
  padding-top: 15px;
  color: var(--date_add);
}
/* Brunch area css end */

/* Testimonial area css start */
#testimonial {
  padding-bottom: 140px;
}

#testimonial .section_header_bar {
  right: 36%;
}

.testimonial_content {
  margin-top: 80px;
}

.testimonial_bg {
  background-color: #f9f9f9;
  padding: 80px 90px;
  width: 1300px;
  margin: 0 auto;
}

.testimonial_text {
  width: 617px;
  display: flex;
}

.testimonial_text_inner {
  padding: 60px 0 0 19px;
}

.testimonial_text_inner p {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}

.testi_info_text {
  margin-left: 15px;
}

.testi_info_text h5 {
  font-size: 20px;
  line-height: 20px;
  font-weight: var(--bold);
  color: var(--primary_color);
  margin-bottom: 12px;
}

.testi_info_text p {
  font-size: var(--common_font_size);
  font-weight: 500;
  color: var(--date_add);
  line-height: 16px;
  margin-bottom: 0;
}

.testimonial_icon {
  margin: 50px 20px 0 0;
}

.testimonial_icon a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #efefef;
  color: #aaaaaa;
  font-size: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

.testimonial_icon:hover a {
  background: var(--secondery_color);
  color: #fff;
}

.testimonial_img {
  width: 445px;
}

/* Testimonial area css end */

/* Project area css start */
#project {
  padding-bottom: 90px;
}

#project .section_header_bar {
  right: 46%;
}

.project_main {
  margin-top: 80px;
}

.project_items {
  width: 570px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.project_items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all linear 0.8s;
  -webkit-transition: all linear 0.8s;
  -moz-transition: all linear 0.8s;
  -ms-transition: all linear 0.8s;
  -o-transition: all linear 0.8s;
}

.project_items .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  display: flex;
  align-items: flex-end;
}

.overlay_content {
  padding: 0 0 35px 35px;
}

.overlay_content h4 {
  text-transform: capitalize;
  color: #fff;
  line-height: 34px;
}

.overlay_content p {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  padding-top: 10px;
}

.project_items:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
/* Project area css end */

/* Contact area css start */
#contact {
  text-align: center;
}

.contact_border {
  border-bottom: 1px solid #e7e7e7;
}

.contact_content h4 {
  color: var(--secondery_color);
}

.contact_content p {
  font-size: 18px;
  padding: 50px 0 10px 0;
  line-height: 18px;
}

.contact_content h2 {
  line-height: 58px;
  text-transform: lowercase;
}
.contact_call {
  margin: 22px 0 50px 0;
}

.contact_content a {
  font-size: 18px;
  color: var(--para_color);
  font-weight: var(--regular);
  line-height: 18px;
}

.contact_menu {
  margin-bottom: 85px;
}

.contact_menu ul {
  display: flex;
  justify-content: center;
}

.contact_menu ul li {
  padding: 0 15px;
}

.contact_menu ul li a {
  font-size: 14px;
  color: var(--primary_color);
  line-height: 14px;
  font-weight: var(--regular);
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
}

.contact_menu ul li a:hover {
  color: var(--secondery_color);
}
/* Contact area css end */

/* Footer area css end */
#footer {
  padding: 50px 0;
  text-align: center;
}

.footer_bottom p {
  font-size: 15px;
}
/* Footer area css end */
